<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>RobotoSerif-Black.ttf</string>
		<string>RobotoSerif-Bold.ttf</string>
		<string>RobotoSerif-ExtraBold.ttf</string>
		<string>RobotoSerif-ExtraLight.ttf</string>
		<string>RobotoSerif-Light.ttf</string>
		<string>RobotoSerif-Medium.ttf</string>
		<string>RobotoSerif-Regular.ttf</string>
		<string>RobotoSerif-SemiBold.ttf</string>
		<string>RobotoSerif-Thin.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
